/* nunito-300 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/nunito-v14-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Nunito Light'), local('Nunito-Light'),
       url('../fonts/nunito-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v14-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v14-latin-300.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nunito-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Nunito Regular'), local('Nunito-Regular'),
       url('../fonts/nunito-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v14-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-700 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/nunito-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Nunito Bold'), local('Nunito-Bold'),
       url('../fonts/nunito-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v14-latin-700.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-800 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/nunito-v14-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'),
       url('../fonts/nunito-v14-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v14-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v14-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v14-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v14-latin-800.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* header start */
.header {
  max-width: 1152px;
  min-height: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.header__rectangle-rose {
  position: absolute;
  width: 370px;
  height: 100%;
  right: 0;
  background: #F9BDBD;
  z-index: -1;
  border-bottom-left-radius: 60px;
}

.header__table {
  position: absolute;
  bottom: 58px;
  right: 0;
  width: 568px;
  height: 577px;
  background-image: url("../images/header_table.png");
  background-repeat: none;
  background-size: cover;
  z-index: 1;
}

.header-menu {
  width: 100%;
  display: flex;
  padding: 23px 0 0 80px;
  box-sizing: border-box;
  align-items: center;
}

.logo {
  width: 192px;
  height: 33px;
  margin-right: 115px;
}

.logo__image {
  width: 100%;
}

.logo_hover:hover {
  opacity: 0.6;
}

.nav {
  display: inline-block;
  align-items: center;
  /* height: 33px; */
}

.nav__items {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  margin-right: 48px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  text-decoration: none;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(34, 34, 34, 0.75);
}

.nav__link_active {
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #DAA520;
}

.nav__link_hover:hover {
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #DAA520;
}

.header__content {
  width: 504px;
  position: absolute;
  top: 217px;
  left: 80px;
  z-index: 3;
}

.header__text {
  margin: 0;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  color: #3E3F43;
  margin-bottom: 16px;
}

.header__text_focus {
  font-weight: bold;
}

.header__title {
  margin: 0;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  color: #313235;
}

.header__link {
  display: inline-block;
  padding: 14px 24px;
  background: #DAA520;
  border-radius: 4px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
}

.header__link_hover:hover {
  opacity: 0.6;
}

/* header end */

/* about us start */
.main {
  max-width: 1152px;
  padding-top: 120px;
  box-sizing: border-box;
  margin: 0 auto;
}

.about-us {
  width: 100%;
  margin-bottom: 120px;
}

.about-us__title-wrap {
  box-sizing: border-box;
  padding: 0 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-us__title {
  margin: 0;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #3E3F43;
}

.about-us__description {
  margin: 0;
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  text-align: right;
  text-transform: uppercase;

  color: rgba(34, 34, 34, 0.1);
}

.about-us__items {
  list-style: none;
  padding: 0 100px;
  margin: 0;
}

.about-us__item {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.about-us__item:last-child {
  margin-bottom: 0;
}

.card__image {
  height: 100%;

}

.card__content {
  width: 448px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__title {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #3E3F43;
}

.card__title_focus {
  font-weight: 800;
}

.card__title_upercase {
  text-transform: uppercase;
}

.card__text {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}
/* about us end */

/* how work start */
.how-work {
  width: 100%;
  margin-bottom: 120px;
}

.how-work__title-wrap {
  box-sizing: border-box;
  padding: 0 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.how-work__title {
  margin: 0;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #3E3F43;
}

.how-work__description {
  margin: 0;
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(34, 34, 34, 0.1);
}

.how-work__items {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.how-work__item {
  position: relative;
}

.how-work__step {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 131px;
  color: rgba(249, 189, 189, 0.25);
}

.how-work__text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
}
/* how work end */

/* categories start */
.categories {
  width: 100%;
}

.categories__title-wrap {
  box-sizing: border-box;
  padding: 0 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.categories__title {
  margin: 0;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #3E3F43;
}

.categories__description {
  margin: 0;
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(34, 34, 34, 0.1);
}

.categories__items {
  box-sizing: border-box;
  padding: 0 100px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.categories__item {
  display: block;
  width: 280px;
  height: 400px;
  margin-right: 56px;
  box-sizing: border-box;
  padding: 24px 16px;
  position: relative;
  margin-bottom: 40px;
  border-radius: 0 88px 0 88px;
}

.categories__item:nth-last-of-type(3n) {
  margin-right: 0;
}

.categories__title {
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #3E3F43;
}

.categories__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.categories__link {
  position: absolute;
  bottom: 24px;
  right: 16px;
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 19px;
  border: 1px solid #3E3F43;
  border-radius: 4px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #3E3F43;
  text-decoration: none;
}

.categories__link_hover:hover {
  opacity: 0.6;
}

.categories__item_background_red {
  background-color:  #F9BDBD;
}

.categories__item_background_yellow {
  background-color: #F7DEA6;
}

.categories__item_background_blue {
  background-color: #A8DCEC;
}
/* categories end */

/* footer start */
.footer {
  max-width: 1152px;
  min-height: 455px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding: 208px 100px 100px;
  background-image: url("../images/footer-pexels.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.footer__nav {
  box-sizing: border-box;
  display: inline-block;
  border-top: 1px solid #C4C4C4;
  padding-top: 24px;
  margin-right: 236px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 999;
}

.footer__logo {
  margin-bottom: 16px;
}

.footer__phone {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #8D8D8D;
  margin-bottom: 16px;
}

.footer__email {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #8D8D8D;
}

.footer__img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.navigation__title {
  margin: 0;
  padding: 0;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  margin-bottom: 16px;
}

.navigation__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__item {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.navigation__item:last-child {
  margin-bottom: 0;
}

.navigation__link {
  text-decoration: none;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #8D8D8D;
}

.navigation__link_hover:hover {
  opacity: 0.6;
}

.copyright {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #8D8D8D;
}
/* footer end */
